name: golangci-lint

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch: # Allow manual trigger

permissions:
  contents: read
  pull-requests: read # Required for pull request comments

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.24"
          cache: true

      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6
          args: --verbose
